@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  @see
  https://www.realtimecolors.com/?colors=241905-FFFEFE-1467E9-C6F3AB-6914eb&fonts=Inter-Inter%20Tight 
*/

@layer base {
  :root {
    --text: 0 0% 0%;
    --background: 0 0% 100%;
    --primary: 217 84% 50%;
    --secondary: 98 75% 81%;
    --accent: 264 84% 50%;
  }
  .dark {
    --text: 0 0% 100%;
    --background: 0 0% 0%;
    --primary: 217 84% 50%;
    --secondary: 98 75% 19%;
    --accent: 264 84% 50%;
  }
}
